@page
@using BigMammaPizzaGroup.Model;
@model BigMammaPizzaGroup.Pages.Change.ChangeBurgerModel
@{
}
@if (@Model.Button)
{
    <h1>Ændre Burger</h1>
}
else
{
    <h1>Tilføj Burger</h1>
}
<div class="row">
    <div class="col">
        <form method="post">
            <div class="form-group>">
                <label>Burger Nummer</label>: @Model.NytBurgerNummer<br />
                <input type="hidden" asp-for="@Model.NytBurgerNummer" /><br />

                <label>Burger Navn</label><br />
                <input class="form-control" asp-for="@Model.NytBurgerNavn" /><br />
                <span asp-validation-for="@Model.NytBurgerNavn" class="text-danger"></span><br />


                <label>Burger Pris</label><br />
                <input class="form-control" asp-for="@Model.NyPris" /><br />

                <label>Burger Topping</label>@Model.NyDescription<br />
                <input class="form-control" asp-for="@Model.NyDescription" /><br />
                
                @if (@Model.Button)
                {
                    <input type="submit" value="Gem ændringer" class="btn btn-success" asp-page-handler="Ændre">
                }
                else
                {
                    <input type="submit" value="Opret Ny Burger" class="btn btn-success" asp-route-nummer="@Model.NytBurgerNummer" asp-page-handler="Opret">
                }
                <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
            </div>
        </form>
    </div>
    <div class="col">
        <form method="post">
            Sorter efter
            <input type="submit" value="nummer" class="btn btn-outline-secondary" asp-page-handler="Nummer"/>
            <input type="submit" value="pris" class="btn btn-outline-secondary" asp-page-handler="Pris" />
        </form>
        
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                    <th>pris</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                @foreach (Burger p in Model.AllItems)
                {
                    <tr>
                        <td>@p.Number</td>
                        <td>@p.Name</td>
                        <td>@p.GetToppings()</td>
                        <td>@p.Price Kr.</td>
                        <td>
                           <input type="submit" value="Ændre" class="btn btn-secondary" asp-page-handler="ChangeItem" asp-route-nummer="@p.Number">
                        </td>
                            <td>
                                <input type="submit" value="Slet" class="btn btn-danger" asp-page-handler="DeleteItem" asp-route-item="@p.Number">
                            </td>
                    </tr>  
                }
                </form>
            </tbody>
        </table>
      
    </div>
</div>

