@page
@using BigMammaPizzaGroup.Model;
@model BigMammaPizzaGroup.Pages.Change.ChangeDrinkModel
@{
}

@if (@Model.Button)
{
    <h1>Ændre Drink</h1>
}
else
{
    <h1>Tilføj Drink</h1>
}
<div class="row">
    <div class="col">
        <form method="post">
            <div class="form-group>">

                <label>Drink Navn</label><br />
                <input class="form-control" asp-for="@Model.NytDrinkNavn" /><br />
                <span asp-validation-for="@Model.NytDrinkNavn" class="text-danger"></span><br />
 

                <label>Drink Pris</label><br />
                <input class="form-control" asp-for="@Model.NyPris" /><br />

               
                @if (@Model.Button)
                {
                    <input type="submit" value="gem ændringer" class="btn btn-success" asp-page-handler="Ændre">
                }
                else
                {
                    <input type="submit" value="opret ny drink" class="btn btn-success" asp-route-nummer="@Model.NytDrinkNummer" asp-page-handler="Opret">
                }
                <input type="submit" value="fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
            </div>
        </form>
    </div>
    <div class="col">
        <form method="post">
            sorter efter
            <input type="submit" value="navn" class="btn btn-outline-secondary" asp-page-handler="Nummer"/>
            <input type="submit" value="pris" class="btn btn-outline-secondary" asp-page-handler="Pris" />
        </form>
        
        <table class="table-hover">
            <thead>
                <tr>
                    <th>navn</th>
                    <th>Størrelse</th>
                    <th>pris</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                @foreach (Drink p in Model.AllItems)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Size</td>
                        <td>@p.Price kr.</td>
                        <td>
                           <input type="submit" value="ændre" class="btn btn-secondary" asp-page-handler="ChangeItem" asp-route-nummer="@p.Number">
                        </td>
                            <td>
                                <input type="submit" value="slet" class="btn btn-danger" asp-page-handler="DeleteItem" asp-route-item="@p.Number">
                            </td>
                    </tr>  
                }
                </form>
            </tbody>
        </table>
      
    </div>
</div>

