@page
@using BigMammaPizzaGroup.Model;
@model BigMammaPizzaGroup.Pages.Menukort.PizzaMenuModel
@{
    
    ViewData["Title"] = "Pizza Menu";
}
<link rel="index" type="text/css" href="/pages/index.css">
<h1 class="jumbotron">Pizza</h1>

<div class="row">
    <div class="col">

Sorter efter
@* <button type="submit" value="nummer" asp-page-handler="Nummer" />
<button type="submit" value="pris" asp-page-handler="Pris" /> *@
<table class="table-hover">
    <thead>
                <form method="post">
        <tr>
                    <th><input type="submit" value="nummer" asp-page-handler="Nummer" >
                     </th>
                    <th>Navn</th>
            <th>Beskrivelse</th>
                    <th>
                        <input type="submit" value="pris" asp-page-handler="Pris">
                    </th>

        </tr>
                </form>
    </thead>
    <tbody>
        
        @foreach (Items p in Model.AllItems)
        {   
            <tr>
                <td>@p.Number</td>
                <td>@p.Name</td>

                <td>@p.Description</td>
                <td>@p.Price Kr.</td>
                <form method="post">
                        <td><button class="btn btn-success" type="submit" value="Tilføj til ordre" asp-page-handler="Tilføj" asp-route-nummer="@p.Number">
                            <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                                </i>
                            </button>
                        </td>
                </form>

            </tr>
        }
    </tbody>
</table>
    </div>
    <div style="justify-items: flex-start" class="col">
        <h4>Ordre</h4>
            <div class="row">

        <div class="col" style="border:solid" class="text-box">
                    
            @foreach (Items p in Model.PizzasN)
            {
                    <ul style="display:inline-flex" class="list-unstyled list-group list-group-horizontal">
                        <li style="height:auto">
                    <button style="width:unset; display:inline" class="btn btn-success">@p.Number @p.Name 
                        </button>
                            </li>
                        <li style="padding:0px;height:auto">
                                    <form method="post">
                                <button class="btn-close btn-danger; padding:0px" asp-route-nummer="@p.Number" asp-page-handler="DeleteOne"></button>
                                </form>
                                </li>
                            </ul>
            }
        </div>
            <div class="col">
                <form method="post">
                    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Ryd</button>
                </form>
            </div>
        <div class="row">
            <form method="post">                
                <button style="width: unset" class="btn btn-success" asp-page-handler="Checkout">
                    <ul class="list-unstyled list-group list-group-horizontal">
                        <li style="padding-right: 5px; height:auto">
                            <p>Gå til checkout</p>
                        </li>
                        <li>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                </svg>
                            </i>
                        </li>
                    </ul>
                </button>
                </form>

        </div>
        </div>
    </div>
</div>
